html {
  font-size: 125%;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
}

body {
  background-color: #e8937b;
  background-size: cover;
  color: #031129;
  margin: 1.5rem 1.5rem;
}

header {
  background-image: url(https://i.imgur.com/Kt2nuDl.jpg);
  background-size: cover;
  height: 28rem;
  text-align: center;
  margin-bottom: 1.5rem;
  z-index: 1;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #e8937b;
  font-size: 4rem;
  line-height: 1.5rem;
  margin-top: 20.6rem;
  margin-right: 130px;
  z-index: 2;
}

h3 {
  font-family: 'Permanent Marker', cursive;
  color: #cc8286;
  transform: rotate(-10deg);
  padding-bottom: 2.2rem;
}

h4 {
  font-family: 'Permanent Marker', cursive;
  font-size: 1rem;
}

.hidden-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -14rem;
  width: 12rem; 
  background-color: #2f1c49;
  transition: transform 0.3s ease-out;
  z-index: 3;
}

.hidden-is-open .visible-container,
.hidden-is-open .hidden-container {
  transform: translateX(14rem);
}

.visible-container {
  padding-top: 1rem;
  max-width: 6rem;
  transition: transform 0.3s ease-out;
}

button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  transition: #eeeeee 0.3s ease-out;
  padding: 14px 14px;
  border-radius: 0;
  line-height: 1;
  background-color: #e8937b;
  border-color: #031129;
}

button:hover,
.hidden-is-open button {
  border: 2px solid #e8937b;
  background-color: transparent;
}

.nav {
  margin-top: 3rem;
}

.nav a {
  display: block;
  margin: 0;
  padding: 0.5rem 3rem;
  color: #faae7b;
  text-decoration: none;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav a:hover {
  background-color: #6c1a61;
}

.nav a:hover,
.nav a:active {
  color: #faae7b;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-container {
  display: none;
  position: absolute;
  background-color: #744867;
  min-width: 11.8rem;
  z-index: 1;
}

.dropdown-container a {
  color: #000000;
  padding: 4px 14px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}

.grid {
  background: #e8937b;
  position: relative;
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
}

.grid:after {
  content: '';
  display: flex;
  clear: both;
} 

.grid-item {
  width: 33.333%;
  position: relative;
  flex: 0 1 auto;
}

.grid-item img {
  display: flex;
  width: 98%;
  padding: 5px 5px;
  margin-bottom: 1.5rem;
}

.grid-item .text {
  text-align: center;
  position: absolute;
  z-index: 2;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 74%; 
  width: 80%; 
}

.paint {
  background: url(https://i.imgur.com/8W3WKiY.png);
  background-repeat: no-repeat;
  background-size: 100% 80%;
  z-index: 1;
  }

/* snippet taken from https://codepen.io/andybarefoot/pen/VwZjVma */
.text:hover {
  transform: rotate(0) scale(1.8) translateZ(0);
  -webkit-filter: drop-shadow(0 20px 20px  rgba(0, 0, 0, 0.70));
  filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.70));
}
/* end snippet */


@media only screen and (max-width: 600px) {
  body {
    background-color:	#2a1e4c;
    color: #e8937b;
  }

  h1 {
    font-size: 1.5rem;
    margin-top: 13rem;
    margin-right: 14rem;
    transform: rotate(-24deg);
  }

  h4 {
    font-size: 1.5rem;
  }

  img {
    display: block;
  }

  .grid {
    background: #2a1e4c;
    position: relative;
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
  }
  
  .grid:after {
    content: '';
    display: flex;
    clear: both;
  } 
  
  .grid-item {
    width: 100%;
    position: relative;
    flex: 0 1 auto;
  }
  
  .grid-item img {
    display: flex;
    width: 98%;
    padding: 5px 5px;
    margin-bottom: 1.5rem;
  }
}