html {
  font-size: 125%;
  font-family: 'Darker Grotesque', sans-serif;
  line-height: 1.4;
}

body {
  background-color: #ad7b84;
  background-size: cover;
  color: #031129;
  padding: 0; 
  margin: 0;
}

header {
  background-image: url(https://i.imgur.com/JUHAwkU.jpg);
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-bottom: 1.5rem;
  z-index: 1;
}

h1 {
  font-family: 'Permanent Marker', sans-serif;
  color: #ad7b84;
  font-size: 4rem;
  line-height: 1.5rem;
  margin-top: 28.2rem;
  z-index: 2;
  -webkit-text-stroke: 1px #282828;
	text-shadow: 0px 4px 4px #282828;
}

h3 {
  font-family: 'Permanent Marker', cursive;
  color: #ad7b84;
  transform: rotate(-10deg);
  padding-bottom: 2.2rem;
}

h4 {
  font-family: 'Permanent Marker', cursive;
  font-size: 1rem;
}

h6 {
  text-align: center;
}

/* Distinguishing between the two containers */
.hidden-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -14rem;
  width: 12rem; 
  background-color: #403A5E;
  transition: transform 0.3s ease-out;
  z-index: 3;
}

.hidden-is-open .visible-container,
.hidden-is-open .hidden-container {
  transform: translateX(14rem);
}

.visible-container {
  padding-top: 1rem;
  max-width: 6rem;
  transition: transform 0.3s ease-out;
}

/* Menu button and Top button*/
button {
  color: #2a1e4c;
  font: inherit;
  letter-spacing: inherit;
  transition: #eeeeee 0.3s ease-out;
  padding: 14px 14px;
  border-radius: 0;
  line-height: 1;
  background-color: #ad7b84;
  border: none;
  margin-left: -24px;
}

button:hover,
.hidden-is-open button {
  color: #ad7b84;
  border: 2px solid #ad7b84;
  background-color: transparent;
}

button:focus {
  outline: 0 !important;
}

/* Inside hidden menu */
.nav {
  margin-top: 2rem;
}

.nav a {
  display: block;
  margin: 0;
  padding: 0.5rem 3rem;
  color: #d4b6ae;
  text-decoration: none;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav a:hover {
  background-color: #725264;
}

.nav a:hover,
.nav a:active {
  color: #d4b6ae;
}

/* The dropdown button inside menu */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-container {
  display: none;
  position: absolute;
  background-color: #744867;
  min-width: 11.8rem;
  z-index: 1;
}

.dropdown-container a {
  color: #000000;
  padding: 4px 14px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/* Grid container for DOM created div items */
.grid {
  background: #ad7b84;
  position: relative;
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
}

.grid:after {
  content: '';
  display: flex;
  clear: both;
} 

.grid-item {
  width: 30%;
  position: relative;
  flex: 0 1 auto;
}

.grid-item img {
  background: #c7a3a9;
  display: flex;
  width: 95%;
  padding: 5px 5px;
  margin-bottom: 1.5rem;
  box-shadow: 0 10px 10px -8px;
  border-radius: 5px;
}

/* Text on top of paint smear */
.grid-item .text {
  text-align: center;
  position: absolute;
  z-index: 2;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 74%; 
  width: 80%; 
}

/* Paint smear */
.paint {
  background: url(https://i.imgur.com/8W3WKiY.png);
  background-repeat: no-repeat;
  background-size: 100% 80%;
  z-index: 1;
}

hr .solid {
  border-top: 3px solid #2a1e4c;
}

#credit {
  text-decoration: none;
  color: #000000;
}

/* snippet taken from https://codepen.io/andybarefoot/pen/VwZjVma  that increases scale of text and paint smear*/

.text:hover {
  transform: rotate(0) scale(1.8) translateZ(0);
  -webkit-filter: drop-shadow(0 20px 20px  rgba(0, 0, 0, 0.70));
  filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.70));
}

/* intro container and contents */
.intro-container {
  height: 100vh;
  position: relative;
}

.inner-container {
  margin: 0;
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.intro-text {
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  padding-top: 80px;
  max-width: 80%;
  margin: 0 auto;
}

.feature-divs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
  margin: 0 auto;
}

.feature-title {
  color: #000000;
  font-weight: 400;
  text-align: center;
  transform: rotate(0deg);
  padding-top: 10px;
  padding-bottom: 0rem;
  margin: 0;
}

.feature {
  background: #ceafb4;
  text-align: center;
  flex: 0 23%;
  height: 400px;
  max-width: 250px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 10px 10px -8px;
  transition: transform .5s ease;
  border-radius: 5px;
}

.feature:hover {
  transform: scale(1.05);
}

.feature-img {
  width: 250px;
  height: 260px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 5px;
}

.feature-text {
  background: #ceafb4;
  margin-bottom: 0;
}

/* Media-query for tablet and phone */
@media only screen and (max-width: 600px) {
  body {
    background-color:	#ad7b84;
    color: #000000;
    margin: 0 auto;
  }

  header {
    background-size: cover;
    height: 26rem;
    text-align: center;
    margin-bottom: 1.5rem;
    z-index: 1;
  }

  h1 {
    font-size: 1.5rem;
    margin-top: 13rem;
    margin-right: 14rem;
    transform: rotate(-24deg);
  }

  h4 {
    font-size: 1.5rem;
  }

  img {
    display: block;
  }

  .feature-divs {
    display: block;
  }

  .grid {
    background: #ad7b84;
    position: relative;
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
  }
  
  .grid:after {
    content: '';
    display: flex;
    clear: both;
  } 
  
  .grid-item {
    width: 100%;
    position: relative;
    flex: 0 1 auto;
  }
  
  .grid-item img {
    display: flex;
    width: 98%;
    padding: 5px 5px;
    margin-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 390px) {
  header {
    object-fit: cover;
    height: 100vh;
  }

  h1 {
    color: #ad7b84;
    font-size: 2.4rem;
    margin-top: 35.5rem;
    margin-right: 0rem;
    transform: rotate(0deg);
  }

  .intro-container {
    font-size: 20px;
    margin-top: 520px;
    margin-bottom: 300px;
  }

  .feature-divs {
    margin-left: 18px;
  }

  .feature-title {
    margin-top: 10px;
  }

  .feature {
    background: #ceafb4;
    text-align: center;
    height: 400px;
    max-width: 280px;
    padding: 20px;
    margin: 10px;
    margin-bottom: 20px;
  }

  .feature-img {
    width: 280px;
    height: 260px;
  }
}